
header, footer { display: none !important; }
body { margin-top: -4.5rem; }
.container { 
  max-width: 100%;
  padding: 0;
  margin: 0;
}


.logo {
  text-align: center;
  padding: 30px;
  background: #ffffff;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.bg-left { 
  float: left;
  // background-image: url('../img/landing-bg-left.jpg');
  background-repeat: no-repeat;
  height: 100%;;
  padding: 0;

  .heroCarousel-content { 
    text-align: left;
    left: 0;
    width: 100%;
    top: 30%;

   .product {
     position: absolute;
     top: 0;
     right: 0;
   }
  }
}

.heroCarousel-title {
  font-size: 67px;
  font-family: "Poppins";
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
}

.bg-right { 
  float: right;
  // background-image: url('../img/landing-bg-right.jpg');
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;

  .heroCarousel-content { 
    text-align: right;
    right: 0;
    width: 100%;
    top: 30%;

    .product {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}